---
import Base from "@/layouts/Base.astro"
import jsonProducts from "@/layouts/components/Services/Store/store.json"
import Order from "@/layouts/components/Services/Store/Order.astro"
import { markdownify } from "@/lib/utils/textConverter";
import type { GetStaticPaths } from "astro";

// Overloading GetStaticPaths
export const getStaticPaths: GetStaticPaths = async () => {
  return jsonProducts.map(product => ({
    params: {slug: product.slug},
    props: {product: product}
  }));
};


// Defining interface
interface Product {
  slug: string,
  title: string,
  subtitle: string,
  description: string,
  longtext: string,
  number: Number,
  price: string
  image: string,
  vendor: string,
  year: Number,
  isbn: string
}

interface Props {
  product: Product
}


const {product} = Astro.props;
---



<Base title={product.title}>
    <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div class="sm:col-5 md:col-4">
          {
            product.image && (
              <div class="img-cover mb-8">
                <img
                  loading="eager"
                  src={product.image}
                  width={295}
                  height={395}
                  alt={product.title}
                  class="rounded-lg w-full"
                />
              </div>
            )
          }
        </div>
        <div class="sm:col-7 md:col-8">
          <h1 set:html={markdownify(product.title)} class="h3 mb-8" />
          <h6 class="text-md mb-4">{product.subtitle}</h6>
          <h4 class="text-md text-teal-600 mb-8">{product.price}</h4>
          <p class="text-md mb-2">Tình trạng: Còn <b class="text-lg text-orange-600">{product.number}</b> quyển</p>
          <p class="text-md mb-2">ISBN: <b>{product.isbn? product.isbn : "Chưa có thông tin"}</b></p>
          <p class="text-md mb-2">Năm xuất bản: <b>{product.year? product.year : "Chưa có thông tin"}</b></p>
          <p class="text-md mb-2">Nhà xuất bản: <b>{product.vendor? product.vendor : "Chưa có thông tin"}</b></p>
          <Order/>
        </div>
        <div class="content">
          <h2> Giới thiệu sách</h2>
          <i>{product.description ? product.description : "Chưa có mô tả"}</i>
          <!-- Line break -->
          <br><br> 
          <!-- End of line break -->
          <i>{product.longtext ? product.longtext : ""}</i>
        </div>
      </div>
    </div>
  </section>
</Base>